Song Name : <h2><%= @song.title %></h2>
<br>
Released?: <h4><%= @song.released %></h4>
Release Year: <h4><%= @song.release_year %></h4>
Artist Name: <h4><%= @song.artist_name %></h4>
Genre: <h4><%= @song.genre %></h4>